.header {
  height: 7.5rem;
  background-color: var(--primary-color);
  padding: 0.5rem;
  z-index: 2;
  box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

.nav {
  display: flex;
  width: 90%;
  align-items: center;
}

.header-nav {
  padding-left: 18%;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.navlink {
  color: white;
  text-decoration: none;
  padding: 0.3rem;
  border-radius: 0.5rem;
}

.navlink:hover,
.active {
  background-color: blanchedalmond;
  color: black;
}

.hello {
  color: white;
  margin-right: 1rem;
}
