.item {
  width: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.item-img {
  width: 7.5rem;
}

.item-desc {
  font-size: 0.9rem;
}

.button {
  background-color: var(--primary-color);
  padding: 0.6rem;
  border: 0.1rem solid var(--primary-color);
  border-radius: 0.3rem;
  color: white;
}

.button:hover {
  border-color: black;
  background-color: white;
  color: var(--primary-color);
}
