.post-item {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  background-color: whitesmoke;
  border: 1px solid black;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.post-item:nth-child(even) {
  flex-direction: row-reverse;
}

.post-item img {
  cursor: pointer;
  height: auto;
  border-radius: 0.5rem;
}

.post-content {
  width: 37.5rem;
  padding: 2rem;
  border-radius: 0.5rem;
}

.post-title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.post-preview {
  font-size: 1rem;
  margin-bottom: 0.6rem;
}

.post-author {
  font-weight: bold;
  padding-bottom: 0.625rem;
}

.post-tags {
  background-color: #e0e0e0;
  padding: 0.3125rem;
  border-radius: 0.3125rem;
}

.post-button {
  padding: 0.625rem 1.25rem;
}

.post-views {
  margin: 0.625rem 0;
}

.tags {
  padding-top: 1rem;
  color: black;
}

.moreCardBtn {
  margin-left: 20px;
  text-decoration: none;
  color: blue;
}

.moreCardBtn:hover {
  color: orangered;
}

.text-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 1rem;
}
