@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #df9c65;
  --secondary-color: #ad9f92;
  --background-color: #f9f0db;
}

html,
body {
  height: 100%;
}

.cont {
  display: flex;
  flex-direction: column;
  font-family: 'Dune', sans-serif;
}

@font-face {
  font-family: 'Dune';
  src: url('../public/assets/dune_rise/Dune_Rise.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.main {
  width: 100%;
  min-height: 79vh;
  background-color: var(--background-color);
  padding: 2rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.2);
}

.log-btn {
  background-color: white;
  padding: 0.2rem;
  border-radius: 0.25rem;
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.log-btn:hover {
  background-color: black;
}

button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  opacity: 0.6;
  box-shadow: none;
}

input,
textarea,
select {
  background-color: white;
  color: black;
}
