body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #df9c65;
  --secondary-color: #ad9f92;
  --background-color: #f9f0db;
}

html,
body {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Dune", sans-serif;
}

@font-face {
  font-family: "Dune";
  src: url("../src/assets/dune_rise/Dune_Rise.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.main {
  width: 100vw;
  min-height: 79vh;
  background-color: var(--background-color);
  padding: 2rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  z-index: 1;
  box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.2);
}
